.form_rf {
    display: flex;
    width: 100% !important;
    margin: 0% !important;
    box-shadow: none !important;
}

#caja{
    margin-left: 0 !important;

    width: 100% !important;
}

.contenido {
    margin-left: 3% !important;
}

.contenidoB {
    margin-top: 10% !important;
    margin-left: 12% !important;
}

#h1_rf {

    
    font-family: 'Baloo Paaji 2';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 0.04em;
  
    color: #1F3262;
}


#h1_rf {

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 70px;
letter-spacing: 0.02em;
margin-left: 3%;
color: #1F3262;
}
a{
color:blue;
}
.contenidoB {
margin: 3%;
margin-top: 3%;
margin-left: 25%;
}

#input_rf_nombre,

#input_rf_email,

#input_rf_dni,

#input_rf_poblacion,
#input_rf_apellidos,
#input_rf_telefono,
#input_rf_codpostal,
#input_rf_provincia {
box-sizing: border-box;



border: 1px solid #B5B5B5;
filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
border-radius: 5px;

font-family: 'Baloo Paaji';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
letter-spacing: 0.04em;

color: #1F3262;
}

#input_rf_nombre_mal,

#input_rf_email_mal,

#input_rf_dni_mal,

#input_rf_poblacion_mal,
#input_rf_apellidos_mal,
#input_rf_telefono_mal,
#input_rf_codpostal_mal,
#input_rf_provincia_mal {
box-sizing: border-box;



border: 2px solid red;
filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
border-radius: 5px;

font-family: 'Baloo Paaji';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
letter-spacing: 0.04em;

color: #1F3262;
}

#input_rf_nombre_bien,

#input_rf_email_bien,

#input_rf_dni_bien,

#input_rf_poblacion_bien,
#input_rf_apellidos_bien,
#input_rf_telefono_bien,
#input_rf_codpostal_bien,
#input_rf_provincia_bien {
box-sizing: border-box;



border: 2px solid green;
filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25));
border-radius: 5px;

font-family: 'Baloo Paaji';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
letter-spacing: 0.04em;

color: #1F3262;
}



#label_rf_nombre,
#label_rf_email,
#label_rf_dni,
#label_rf_poblacion,
#label_rf_apellidos,
#label_rf_telefono,
#label_rf_codpostal,
#label_rf_provincia
{
font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: bold;
font-size: x-large;
line-height: 26px;
letter-spacing: 0.04em;
color: #1F3262;
}

#label_rf_check{
    color: grey;
    font-size: 10px;;
}


.form_rf {
display: flex;
width: 40%;
flex-wrap: wrap;
background-color: white;
background-color: rgb(255, 255, 255);
margin-left: 10%;
margin-top: 2%;
border-radius: 8px;
box-shadow: 0 10px 25px rgb(82 105 112);
}
#caja{
display:flex;

}


.logoF{
width: 100%;
border-radius: 10px;
margin: 10%;
padding: 10%;
border-style: solid;
border-color: grey;
border-width: 5px

}
.logoC{
width: 100%;
border-radius: 10px;
margin: 10%;
padding: 10%;
border-style: solid;
background-color: #E3F1F4;
border-color: #49BCC4;
border-width: 5px;
}

.logo{
max-width: 150px;
max-height: 150px;
}
.logo:checked{
background-color: lightblue;
}

#boton_rf_enviar {
border-style: none;
background: #4A4D9B;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
height: 50px;

letter-spacing: 0.04em;
width: 100%;

color: #FFFFFF;
}
#boton_rf_enviar:disabled{
background: grey;
box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
border-radius: 5px;
font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 26px;
letter-spacing: 0.04em;
height: 50px;
width: 100%;
color: #FFFFFF;
}

.contenido {
display: flex;
position: relative;
width: calc(90%);
height: auto;
margin: 10px auto;
padding: 30px 10px 10px;

}

.contenedor{
display: grid;
grid-template-columns:180px 180px;
grid-template-rows: 180px 180px 180px; 
}

.contenidoI {
border-radius: 10px;
width: 100%;
padding: 4%;

}



div .contenido input {
display: block;
width: 100%;
border-radius: 20px;
border: 0;
padding: 10px 10px;
font-size: 18px;
}

div .contenido label {
display: block;
position: absolute;
width: auto;
top: 0px;
left: 5px;

padding: 5px 5px;
border-radius: 20px;
}