@media screen and (max-width: 420px) {

.nombre{
    width: 100%;
    background-color:  #E3F1F4;
    padding:3%;
    margin-top: auto;
    margin-bottom: auto;
}

#nombre{
    text-align: start;
    font-family: 'Baloo Paaji 2', cursive;
    color: #1F3262;
    font-size: 35px;
    font-weight: 900;
}

.chat_contenedor{
    display: flex ;
    flex-direction: row;
    width: 100%;
    padding: 2.5%;
}

.chat_contenedor1{
    display: flex ;
    flex-direction: row;
    width: 100%;
    padding: 2.5%;
    margin-top: -50px;
}

.chat{
    width: 30%;
    margin-top: 35%;
}


.imgRedonda2 {
    width:80px;
    height:80px;
    border-radius:150px;
    display: block;
    margin-right: auto;
    margin-left: 5%;
}

.chat2{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #7DD8FF;
    border-radius: 15px;
    margin-top: 30%;
    padding: 5%;
}

.texto1{
    font-size: 20px;
    font-family: 'Baloo Paaji 2', cursive;
    margin-top: -20px;
}

.tarjeta{
    width: 30%;

}

.tarjeta2{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #7DD8FF;
    border-radius: 15px;
    padding: 5%;

}

.input_chat{
    margin: 5%;
    display: flex;
    flex-direction: row;
}

#input_chat{
    font-size: 20px;
    font-family: 'Baloo Paaji 2', cursive;
    padding: 5%;
    height: 50px;
    border-radius: 15px;
    width: 80%;
    border-color: #7DD8FF;
    border-width: 3px;
}

.button_imagen{
    display: flex;
    
}

.button_chat_enviar{
    margin-left: 15px;
}

.tarjetacolor{
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #1F3262;
    border-radius: 15px;
    padding: 5%;
    display: none;
}

.tarjetacolorvisible{
    color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #1F3262;
    border-radius: 15px;
    padding: 5%;
}



}



