
@media screen and (max-width: 391px) {
    
    .padre_af {
        margin-bottom: 220px;
    }

    #h3_AccesoFormador {
        position: absolute;
        width: 250px;
        height: 45px;
        left: 15%;
        top: 140px;
        font-family: 'Baloo Paaji 2';
        font-size: 40px;
        line-height: 35px;
        letter-spacing: 0.04em;
        color: #1F3262;
    }

    .botones_AccesoFormador{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-top: 250px;
        flex-direction: column;
        text-decoration: none;
    }

    .button_accesoFormador_logIn {
        margin-top: 1em;
        display: flex;
        width: 290px;
        height: 60px;
        top: 59px;
        justify-content: center;
        background: #4A4D9B;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Baloo Paaji 2', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
    
    .button_accesoFormador_registro {
        margin-top: 2em;
        display: flex;
        width: 290px;
        height: 60px;
        top: 19px;
        justify-content: center;
        font-family: 'Baloo Paaji 2', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.04em;
        color: #1F3262;
        box-shadow: 0px 0px 1px (#1F3262);
        border-color: #1F3262;
    }
}


@media screen and (min-width: 1200px){ 
    #h3_AccesoFormador {
        position: absolute;
        width: 450px;
        height: 75px;
        left: 20%;
        top: 150px;
        font-family: 'Baloo Paaji 2';
        font-size: 50px;
        line-height: 35px;
        letter-spacing: 0.04em;
        color: #1F3262;
    }

    .botones_AccesoFormador{
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        margin-top: 250px;
        flex-direction: column;
        text-decoration: none;
        border-style: none;
    }

    .button_accesoFormador_logIn {
        margin-top: 1em;
        display: flex;
        width: 590px;
        height: 80px;
        top: 59px;
        justify-content: center;
        background: #4A4D9B;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        font-family: 'Baloo Paaji 2', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        border-style: none;
    }
    
    .button_accesoFormador_registro {
        margin-top: 2em;
        display: flex;
        width: 590px;
        height: 80px;
        top: 19px;
        justify-content: center;
        font-family: 'Baloo Paaji 2', cursive;
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.04em;
        color: #1F3262;
        border-radius: 5px;
        box-shadow: 0px 0px 1px (#1F3262);
        border-color: #1F3262;
    }
}

